{% extends 'admin_base.html' %}

{% block main %}

<script type="text/javascript">
    function checkpassword()
    {
        if(document.changepassword.newpassword.value != document.changepassword.confirmpassword.value)
        {
            alert('New Password and confirm password field does not match');
            document.changepassword.confirmpassword.focus();
            return false;
        }
    }
    return true;

</script>

<div class="'card shadow m-2">
    <div class="card-body">
        <h5 class="p-2 text-danger" style="border-bottom : 2px solid orange">Change Password</h5>

        <div class="container-fluid">
            <form method="post" name="changepassword" onsubmit= "return checkpassword()">
                {% csrf_token %}
                <div class="form-row"> 
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Current Password</label>
                            <input type="password" name="currentpassword" class="form-control" placeholder="Enter Current Password"> 
                        </div>
                    </div>
                    <br>

                    <div class="form-row"> 
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>New Password</label>
                                <input type="password" name="newpassword" class="form-control" placeholder="Enter New Password"> 
                            </div>
                        </div>
                        <br>

                        <div class="form-row"> 
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Confirm Password</label>
                                    <input type="password" name="confirmpassword" class="form-control" placeholder="Enter Confirm Password"> 
                                </div>
                            </div>
                    <br>
                <input type="submit" value="Submit" class=" m-2 px-3 btn btn-secondary">
            </form>
        </div>
        
    </div>

</div>

<!-- vedio 5 -->
{% if error == "no" %}
<script>
    alert('Password Updated Successfully');
    window.location = ('{% url "logout" %}');
    // window.location.href = "/logout"
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert('Something went wrong , Try Again...' );
    
</script>
{% endif %}


{% if error == "not" %}
<script>
    alert('Your current password is wrong.' );
    
</script>
{% endif %}

{% endblock %}