
.nav-link{
    color: white !important;
}

.nav-link:hover{
    color: yellow !important;
    background-color: red ;
    border-radius: 15px;
}

.navbar-brand{
    font-weight: bold;
}

.active{background-color: orange ;
    border-radius: 30px;
}